# Gradle
.gradle/
build/

# IDE (VS Code)
.vscode/
.idea/

# OS 파일 (맥 미니에서 생성될 수 있는 시스템 파일)
.DS_Store

# 로그 파일
*.log

# 외부 라이브러리 폴더 (직접 관리할 필요 없음)
**/bin/
**/out/

/src/main/resources/application-local.properties
/src/test/resources/application.properties
/data/